.solid-one {
  color: #17181A;
  }

.solid-two {
  color: #515254;
  }

.solid-three {
  color: #A6A7A9;
  }

.solid-four {
  color: #E3E4E6;
  }

.solid-five {
  color: #EFF0F2;
  }

.solid-accent {
  color: #0042FF;
  }
